var config = {

    // Urls of the kijiji search pages you want to scrape
    // hint - use the filters as much as you want then copy the resulting url
    urls: [
        'http://kiji...', // simple style where no additional filtering of results is needed
        {
            url: 'http://kij...'
            ignores: ['search', 'strings', 'that you do not want to be contained in the ad'] // ex: "coffee" for a brew search, where you only want beer related results
        }
    ],

    email: {
        // The email address you want to have the ads sent to
        targetEmail: '',

        // Just the username of the gmail address Eg. `myAccount` from `myAccount@gmail.com`
        gmailUser: '',

        // The password of the gmail address (or empty if oauth is used)
        gmailPassword: '',

        // see here to get setup for oauth: https://medium.com/@pandeysoni/nodemailer-service-in-node-js-using-smtp-and-xoauth2-7c638a39a37e
        // notes:
        //   - the scope required for sending emails is: https://mail.google.com/
        //   - you will need to join the "Risky Access Permissions By Unreviewed Apps" for this to work:
        //     https://groups.google.com/forum/#!forum/risky-access-by-unreviewed-apps
        oauth: {
            clientId: "",
            clientSecret: "",
            refreshToken: ""
        }
    },

    map: {
        // get yours here: https://developers.google.com/maps/documentation/javascript/get-api-key
        googleMapsApiKey: '',

        // lat,long example: '44.7891217,-63.6250432'
        homeLocation: ''
    },

    // Check evert X minutes
    minutesBetweenCheck: 10,

    // Below options require a server call per ad (must download the ad's webpage), enable at own risk
    noBusinessAds: false,
    highQualityEmails: false
};

module.exports = config;
