var config = {

    // Urls of the kijiji search pages you want to scrape
    // hint - use the filters as much as you want then copy the resulting url
    urls: [
        ''
    ],

    email: {
        // Just the username of the gmail address Eg. `myAccount` from `myAccount@gmail.com`
        gmailUser: '',

        // The password of the gmail address
        gmailPassword: ''
    },

    // Check evert X minutes
    minutesBetweenCheck: 10,

    // Requires a server call per ad, enable at own risk
    noBusinessAds: false
};

module.exports = config;
